{% extends "base.html" %}

{% block content %}
	<header>
		<div class="user">
			<h1>Bienvenido {{ user.name }}</h1>
			<img src="{{ user.photo }}">
		</div>
		<div class="salir">
			<a href="/logout/">Salir</a>	
		</div>
	</header>
	<section class="container">
		<div class="form">
			<textarea name="ask" id="ask" style="width: 1150px; height: 30px;" placeholder="Esbribe tu pregunta"></textarea>
			<button id="send" href="#">Enviar</button>
		</div>
		<section class="aks">
			{% for ask in asks %}
				<article class="b-white ask">
					<figure>
						<img class="image" src="{{ ask.user.photo }}" alt="ask.user.name">
						<figcaption>
							<p class="name">{{ask.user.name}}</p>
						</figcaption>
					</figure>
					<div class="data">
						<p class="comment">{{ask.ask}}</p>
					</div>
				</article>
			{% endfor %}	
		</section>
	</section>
{% endblock content %}